



/*--------------------------------------footer*/

.list-inline.social-links {
    padding-bottom: 15px;
}




/*--------------------------------------navbar*/

.navbar-center {
    text-align: center;
}


.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
  font-family: Lato;
  font-size: 1.7em;
  font-weight: 300;
  padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
  background-color: #444444;
  transition: 0.7s all linear;
  height: 100%;
}



/*-------------------------------------image*/

.portrait {
    height: 80px;
    width: 30px;
}


.h2 {
    font-family: "din-condensed-web",sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #3d3834;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 52px;
}




.hero-thirdpage {
   background: url("../images/monkees5.jpg");
  font-family: "Monospace", sans-serif;
    font-weight: 500;
    font-size: 6.0em;
    color: white;
  text-transform: uppercase;
  text-align: inherit;
}

.hero-image {
 
  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h3 {
  font-weight: bold;
  color: #fff;
  font-size: 70px;
}

.overlay {
    left: 0;
    position:absolute;
    text-align:center;
    top: 300px;
    width: 100%
}

.overlay2 {
    left: 0;
    position:absolute;
    text-align:center;
    top: 100px;
    width: 100%
}

.overlay3 {
    left: 0;
    position:absolute;
    text-align:center;
    top: 115px;
    width: 100%
}

h3 { 
   position: absolute;
   left: 0; 
   width: 100%; 
}

.top-buffer1 {
  margin-top: 60px;
}

.top-buffer2 {
  margin-top: 120px;
}
/*-------------------------------------about us*/

.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


/*--------------------------------------music*/

.top-buffer {
  margin-top: 120px;
}

/*-------------------------------------video*/

.videocontainer {
    margin-left: 10%;
}


/*-------------------------------------contactus*/

/* Style inputs with type="text", select elements and textareas */

.contactus 

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.contactus {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.style {
    width: 100%;
    height: fit-content;
}


